* {
    margin: 0;
    padding: 0;

    font-family: 'EB Garamond', serif;
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

body {
    background: #1f242d;
    color: white;
}

header {

    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;



}

nav a {
    text-decoration: none;
    font-size: 17px;
    margin-right: 50px;
    margin-left: 5px;
    font-weight: 600;
    color: aliceblue;
    letter-spacing: 1px;

}

nav a:hover {
    color: #0ef;

}

.nav-logo {
    height: 45px;
    margin: 10px;

}

.nav-baaar {
    display: flex;

    flex-direction: row;
    justify-content: space-between;



}



#home {
    margin-left: 100px;
    margin-right: 100px;

    display: flex;
    flex-direction: row;
}

.profile {
   margin: 8% 0 0 0;
    display: flex;


}

.profile img {
    border-radius: 50%;
    height: 350px;

}

.detail {

    margin-top: 7%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;


}

.dts {
    margin-top: 20px;
    margin-left: 30px;
}

h3 {

    font-size: 35px;
    font-weight: 750;
}

h3 span {

    font-size: 35px;
    color: #0ef;
    font-weight: 750;
}

h1 {
    font-size: 45px;
    font-weight: 750;

}

.detail p {
    margin: 30px;
    text-align: justify;
    font-weight: 450;
    letter-spacing: 1px;
    line-height: 20px;

}

.social {
    display: flex;
    flex-direction: row;
    margin-left: 25px;

}

.social a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.social a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;

}


.cv,
.cv1 {

    display: inline-block;
    justify-content: center;
    padding: 12px 28px;
    background: #0ef;

    border-radius: 40px;
    box-shadow: 0 0 5px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;



}

.cv1:hover {
    box-shadow: 0 0 10px #0ef;
}

.cv:hover {
    box-shadow: 0 0 10px #0ef;
}


.cv1 {
    margin-left: 4%;



}

.cv {
    margin-right: 50px;
}



#skill {
   margin-top: 50px;
   margin-bottom: 50px;
}


.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
   
}

#skill .h1, .education .h1 {
    margin-top: 50px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;


}

.skillimg{
   
    height: 6.2rem;
    width: 5.5rem;
    margin: 10px;
    
}

.skillimg img{
    height: 4rem;
    display: flex;
    position: relative;
    justify-content: center;
    width: 5rem;
    margin: 5px;
}
.skillimg span {
    display: flex;
    position: relative;
    justify-content: center;
    font-weight: 600;
}

.skillimg .fa-brands {

    justify-content: space-between;
   
    
    cursor: pointer;
    font-size: 80px;
    /* filter: grayscale(100%);
    transition: filter 300ms; */

}

.skillimg .fa-brands:is(:hover, :focus){
    filter: grayscale(0%);
}







/* Portfolio sectiopn*/

#portfolio {
 margin-top: 30px;
    margin-bottom: 10px;
}

.portfolioname {
    margin-bottom: 4px;
    
}

.portfolioname h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    letter-spacing: 1px;
}

.portfolioname h4 {
    display: flex;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 1px;


}

.pborder {

    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.project {
    margin: 30px;
    height: 420px;
    width: 350px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    box-shadow: 0 0 18px #0ef;
    border-color: #0ef;
}

.pimgs {
    height: 190px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.pimgs img {
   
    height: fit-content;
    height: 10rem; 
    width: 19rem;
    margin: 5px;
    border-radius: 12px;

}


.pimgs video {

    max-width: 450px;
    height: 280px;
    margin-bottom: 15px;
    border-radius: 30px;

}

.pdetal {
    margin: 10px;
}


.pdetal .h1{
    
    height: 50px;
    width: 100%;
}
.pdetal h1 {
    margin: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    
}

.pdetal .h3 {
    margin: 5px;
height: 30px;
    width: 100%;
}

.pdetal h3 {
    margin: 10px;
    font-size: 13px;
    letter-spacing: 1px;
}

.pdetal .p{
   margin: 5px;

height: 75px;
    width: 100%;

}
.pdetal p {
   
    margin: 10px;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: justify;
}
.pdetal .atag {
    display: flex;
    position: relative;
    justify-content:center;
}
.pdetal a {

    display: inline-block;
    justify-content: center;
    padding: 12px 28px;
    background: #0ef;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 0 0 2px #0ef;
    font-size: 10px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;

}

.pdetal a:hover {
    box-shadow: 0 0 10px #0ef;
}



#fullscreen-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 9999;
  }

  #fullscreen-image img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }



/* education section */
.edu{
    width: 100rem;
    height: auto;
   
}

.edu .left{

    width: 10%;
}

.edu .left .span {
    border-radius: 50px;
    width: 10px;
    border: solid 1px;
    color: #0ef;
}


.edu .right{
    width: 90%;

}




























@media (max-width: 840px) {

    #home {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile {

        justify-content: center;

    }

    nav a {

        font-size: 17px;
        margin-right: 15px;
        margin-left: 5px;

    }

    h3 {

        font-size: 18px;
        font-weight: 450;
    }

    h3 span {

        font-size: 25px;
        color: #0ef;
    }

    h1 {
        font-size: 28px;
        font-weight: 750;

    }

    
#skill {
  
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;

}
.pborder {

   justify-content: center;
}



}

@media (max-width: 700px) {


    header {
        margin-right: 10px;
    }

    .nav-logo {
        display: flex;
        justify-content: center;
        height: 33px;
     
    }


    .detail {
        margin-left: 5px;
    }

    #home {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;

    }



    .profile {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .profile img {

        height: 250px;

    }

    .nav-baaar {
        margin-right: 0px;
    }



    nav a {

        font-size: 14px;
        margin-right: 5px;
        justify-content: space-between;

    }

    h3 {

        font-size: 18px;
        font-weight: 450;
    }

    h3 span {

        font-size: 25px;
        color: #0ef;
    }

    h1 {
        font-size: 28px;
        font-weight: 750;

    }

    .cv {
        display: none;
    }

    .cv1 {
        margin-left: 35px;


    }





    .skill .fa-brands {


        font-size: 50px;

    }



    .project {
       
        height: 440px;
    }
    .pborder {

        justify-content: center;
        margin: 0 15px 15px 0;
     }


     .pimgs img {
   
      
        width: 17rem;

     }
     .pimgs {
   margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pimgs video {

    
    height: 280px;
    width: 280px;
    
  
}
.pdetal .h1{
   
    height: 50px;
 }

.pdetal h1{
   
   font-size: 17px;
}

.pdetal .h3 {

    height: 35px;

}


.pdetal h3 {

    font-size: 17px;

}
.pdetal .p{
 
 height: 85px;
   
 
 }


}